$theme-colors: (
  "secondary": #2E3136,
  "primary": #4668da,
  "success": #218638,
);
:root {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --bg: #36393F;
  --tertiary: #2B2C31;
}
// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v8-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}
@function gray($key: "100") {
  @return map-get($grays, $key);
}
body {
  font-family: 'Noto Sans', sans-serif;
}
#app {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color:#525f7f;
  background:#F5F5F5;
}
#content {
  flex: 1;
  margin-top: 54px;
}
@keyframes highlight {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fff3cd;
  }
  100% {
    background-color: #fff;
  }
}
.highlight {
  animation-name: highlight;
  animation-duration: 2s;
}
.b-dropdown > .dropdown-toggle-no-caret::after {
  display: none
}